.difficulty-selector {
  background-color: #fff9fb;
  border-radius: 15px;
  padding: 15px 25px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #ffddee;
}

.difficulty-selector h3 {
  margin-bottom: 15px;
  color: #b86b9a;
}
